{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'imports.html' %}
    <meta name="service-worker-js" content="/static/webpush/webpush_serviceworker.js">
    <script id="webpush-js" type="module" src="/static/webpush/webpush.js"></script>
    <script type="module" src="{% static 'js/manage_acc.js' %}" ></script>
    <title>Manage accounts</title>
  </head>
  <body>
    <div class="container-fluid px-0">
      {% include 'navbar.html' %}
    </div>

    <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header text-center">
                      <h1 class="h3 mb-0">Manage accounts</h1>
                  </div>
                  <div class="card-body">
                    <div id="filter-form" class="mb-4">
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-6">
                                <label for="user-filter">User</label>
                                <input type="text" id="user-filter" class="form-control" placeholder="Enter user name">
                            </div>
                            {% if user.is_superuser %}
                              <div class="form-group col-md-6">
                                <label for="group-filter">User Group</label>
                                <select id="group-filter" class="form-control">
                                    <option value="">All</option>
                                    {% if groups %}
                                        {% for group in groups %}
                                            <option value="{{group.id}}">{{ group.name}}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                              </div>
                            {% endif %}
                        </div>
                        <div class="form-row justify-content-center">
                          <button id="filter-button" class="btn btn-primary mr-2">Filter</button>
                          <button id="reset-button" class="btn btn-secondary ml-2">Reset</button>
                      </div>
                    </div>
                    <div class="mini-screen">
                      {% if users %}
                        <ul id="users-list" class="list-group">
                          {% for user in users|slice:":10" %}
                          <li class="list-group-item d-flex justify-content-between align-items-center" data-id="{{ user.id }}">
                            <div>
                              <div class="d-flex flex-column">
                                <div class="user-name font-weight-bold">{{ user.full_name }}</div>
                                <div class="user-username">{{ user.username }}</div>
                                <div class="user-group text-muted">{{ user.group }}</div>
                                <div class="user-email d-none">{{ user.email }}</div>
                                <button class="btn btn-link btn-sm toggle-email">Show Email</button>
                              </div>
                            </div>
                            <button id="delete-user" class="btn btn-danger btn-sm delete-user">Delete</button>
                          </li>
                          {% endfor %}
                        </ul>
                        {% if users|length > 10 %}
                            <button id="load-more" class="btn btn-primary mt-2" style="display: block;">Load More</button>
                        {% else %}
                            <button id="load-more" class="btn btn-primary mt-2" style="display: none;">Load More</button>
                        {% endif %}
                        <p id="no-users" class="text-center mt-2" style="display: none;">No users available.</p>
                      {% else %}
                        <p id="no-users" class="text-center mt-2" style="display: block;">No users available.</p>
                      {% endif %}
                    </div>
                </div>
          
              </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
